body {
  margin: 50px;
  font-family: helvetica;
  background-color: orange;
  color: white;
}
button {
  margin: 10px auto;
  display: block;
  padding: 10px;
}
h1, h3 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 36px;
}
label, input {
  display: block;
  margin: 10px auto;
  text-align: center;
}
#adjective, #verb, #noun {
  color: black;
}
